
###> symfony/framework-bundle ###
/.env.dev
/.env.local
/.env.local.php
/.env.*.local
/.env.prod
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/*
!/var/.gitkeep
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/public/media
/media/*
!/media/.gitkeep
/assets/vendor/
###< symfony/asset-mapper ###
/nginx/certs/*

/.idea
